*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    color: #fff;

}

html,body{
    height: 100%;
    width: 100%;


}

*::selection {
  background-color: #fff;
  color: #95c11e;
}

body::-webkit-scrollbar {
  display: block;
  width: 8px;
  background: #95c11e;
}
body::-webkit-scrollbar-thumb {
  background-color: #fff;

  border-radius: 50px;
}

#nav {
  height: 130px;
  width: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  padding: 0 120px;
  gap: 50px;
  position: fixed;
  justify-content: flex-start;
  z-index: 999;
}
#nav img {
  width: 8%;
}
#nav h4 {
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  font-size: 1.15vw;
}

#cursor{
    height: 20px;
    width: 20px;
    position: fixed;
    background-color: #95C11E;
    border-radius: 50%;
    z-index: 99;
}

#big-cursor{
    height: 200px;
    width: 200px;
    position: fixed;
    background-color: #96c11e57;
    border-radius: 50%;
    z-index: 9;
    filter: blur(40px);
}


video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

.main{
    position: relative;
    background-color: rgba(0, 0, 0, 0.425);
}

.page1{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    text-align: center;
    z-index: 10;
}

.page1 h1{
    font-size: 100px;
    font-weight: 900;
    position: relative;
}

.page1 h1::before{
    content: "EAT. DRINK. PLAY.";
    position: absolute;
    top: -4px;
    left: -4px;
    color: #000;
    -webkit-text-stroke: 2px #95C11E;
    z-index: -1;
}

.page1 h2 {
    font-size: 30px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 20px;
  }
.page1 p {
    font-size: 1.2vw;
    font-weight: 500;
    width: 40%;
  }

  .page2{
    min-height: 100vh;
    width: 100%;
    z-index: 10;
  }
  
  #scroller{
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
  }
  #scroller::-webkit-scrollbar {
    display: none;
  }

  .scroller-in{
    white-space: nowrap;
    display: inline-block;
    animation-name: scroll;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

  }

  .scroller-in h3{
    display: inline-block;
    font-size: 5vw;
    font-weight: 900;
    font-family: "gilroy";
    color: transparent;
    -webkit-text-stroke: 2px #95C11E;
    margin-right: 10px;
    transition: all linear 0.5s;
  }

  .scroller-in h3:hover{
    color: #95C11E;
  }

  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  #about-us{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40vh;
    width: 100%;
    padding: 0 4vw;
    margin-top: 10vh;
    /* background-color: red; */
  }

  #about-us img {
    height: 220px;
    width: 220px;
    border-radius: 20px;
    object-fit: cover;
  }
  #about-us-in {
    width: 50%;
    text-align: center;
  }
  #about-us-in h3 {
    font-size: 54px;
    font-weight: 800;
    margin-bottom: 30px;
  }
  #about-us-in p {
    font-size: 20px;
    line-height: 26px;
  }

  #card-container{
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 70px;
    height: 60vh;
    width: 100%;
    position: relative;
    z-index: 10;
  }

  .card{
    height: 80%;
    width: 20%;
    border-radius: 20px;
    background-size: cover;
  background-position: center;
  overflow: hidden;
  transition: all ease 0.6s;
  }

  #card-1 {
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-toptracer-1024x682.jpg?strip=all&lossy=1&sharp=1&ssl=1);
  }
  #card-2 {
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/hero-4-1024x1024.jpg?strip=all&lossy=1&sharp=1&ssl=1);
  }
  #card-3 {
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-lessons-1024x682.jpg?strip=all&lossy=1&sharp=1&ssl=1);
  }

  .overlay{
    height: 100%;
    width: 100%;
    background-color: #95C11E;
    padding: 40px;
    padding-top: 100px;
    opacity: 0;
    transition: all ease 0.6s;
    
  }

  .overlay h4{
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
  }

  .overlay p{
    color: #000;
    font-size: 16px;
    
  }

  .card:hover .overlay{
    opacity: 1;
  }

  .card:hover {
    transform: rotate3d(-1, 1, 0, 20deg);
  }

  #green-div{
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to left bottom, #119f3a, #ace022);
  }

  #green-div h4 {
    width: 45%;
    line-height: 50px;
    color: #000;
    text-align: center;
    font-weight: 800;
    font-size: 27px;
    text-transform: uppercase;
  }
  #green-div img {
    height: 100%;
    object-fit: cover;
    width: 14%;
  }

  .page3{
    height: 100vh;
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    position: relative;
  }

  .page3>p{
    font-size: 2vw;
    width: 60%;
    text-align: center;
    font-weight: 900;
  }

  .page3>img{
    width: 5%;
    position: absolute;
  }

  #colon1{
    top: 30%;
    left: 13%;
  }

  #colon2{
    bottom: 30%;
    right: 13%;
  }

  .page4{
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    position: relative;
  }

  .elem{
    height: 70%;
    width: 25%;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
  }

  .elem h2{
    height: 100%;
    width: 100%;
    font-size: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #95c11e;
    color: #000;
    font-weight: 800;
    transition: all ease 0.5s;
    position: absolute;
    z-index: 10;
  }

  .elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.5s;
  scale: 1.1;
  }
  .elem:hover h2 {
    color: #fff;
    background-color: transparent;
  }
  .elem:hover img {
    scale: 1;
  }

  .page4 h3 {
    font-size: 6.4vw;
    position: absolute;
    top: -15%;
    font-weight: 900;
    color: #000;
    -webkit-text-stroke: 2px #fff;
  }

  #footer {
    height: 40vh;
    width: 100%;
    background: linear-gradient(to left bottom, #119f3a 0%, #a3d421 80%);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6.5vw;
    padding: 0 100px;
  }

  #footer > img {
    position: absolute;
    left: 0;
    height: 100%;
    z-index: 0;
  }
  #f1 img {
    height: 100px;
  }

  #f1,
#f2,
#f3,
#f4 {
  width: fit-content;
  position: relative;
  z-index: 99;
  /* background-color: red; */
}
#f2 h3 {
  font-size: 1.6vw;
  white-space: nowrap;
  text-transform: uppercase;
  color: #000;
  font-weight: 900;
  margin-bottom: 8px;
}

#f3 h3 {
  font-size: 1.6vw;
  white-space: nowrap;
  text-transform: uppercase;
  color: #000;
  font-weight: 800;
  margin-bottom: 8px;
}
#f4 h4 {
  font-size: 1vw;
  white-space: nowrap;
  text-transform: uppercase;
  color: #000;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 8px;
}

